*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  line-height:1.6;
}

.container{
  width:90%;
  max-width:1000px;
  margin:auto;
  text-align:center;
}

/* COVER */

.cover{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

.cover h1{
  font-size:3rem;
  margin:10px 0;
}

h1{
  font-family: 'Brittany';
}

h2{
  font-family: 'Anonymous Pro';
}

/* PREWEDDING */
.prewedding{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background1.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

img{
  width:100%;
  height:auto;
}

/* PRAY */
.pray{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

/* EVENT */
.event{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background1.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

/* FOOTER */

footer{
  padding:20px;
  background:#222;
  color:white;
  text-align:center;
}

/* FONTS */
@font-face {
  font-family: 'Brittany';
  src: url('fonts/BrittanySignature.ttf') format('truetype');
}

@font-face {
    font-family: 'Anonymous Pro';
  src: url('fonts/AnonymousPro-Regular.ttf') format('truetype');
}

/* MOBILE */

@media (max-width:768px){

  .hero h1{
    font-size:2rem;
  }

  .couple .container{
    flex-direction:column;
  }

  .person{
    width:100%;
    margin-bottom:20px;
  }

  .heart{
    margin:10px 0;
  }

}