*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

.container{
  width:100%;
  max-width:1000px;
  margin:auto;
  text-align:center;
}

.container.foto{
  width:80%;
  max-width:800px;
  margin:auto;
  position: relative;
}

/* COVER */

.cover{
  height:70vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

.cover h1{
  font-size:3rem;
  margin:10px 0;
}

h1{
  font-family: 'Brittany';
}

h2{
  font-family: 'Anonymous Pro';
}

.muncul-bawah{
  opacity:0;
  transform:translateY(50px);
  animation:muncul 1s ease forwards;
}

@keyframes muncul{
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* PREWEDDING */
.prewedding{
  height:70vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background1.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

.foto{
  border-radius:5%;
  box-shadow:15px 15px 40px rgba(0,0,0,0.2);
}

img.item-mahkota{
  position: absolute;
  left:74%;
  width:23%;
  bottom: 85%;
  height:auto;
}

img.item-love{
  position: absolute;
  right: 47%;
  width:60%;
  bottom: 76%;
  height:auto;
} 

img.item-bintang{
  position: absolute;
  left:59%;
  width:50%;
  bottom: 52%;
  height:auto;
} 

img.item-kacamata{
  position: absolute;
  right:70%;
  width:30%;
  bottom: 58%;
  height:auto;
}

img.item-bunga{
  position: absolute;
  left:67%;
  width:27%;
  bottom: 38%;
  height:auto;
}

img.item-spark{
  position: absolute;
  right:72%;
  width:37%;
  bottom: 32%;
  height:auto;
}

img.item-scratch{
  position: absolute;
  left:68%;
  width:35%;
  bottom: 18%;
  height:auto;
}

img.item-spiral{
  position: absolute;
  right:70%;
  width:35%;
  bottom: 20%;
  height:auto;
}

img{
  width:100%;
  height:auto;
}

.goyang{
  animation:goyang 2s infinite;
}

@keyframes goyang{
  0%{transform:rotate(-3deg);}
  50%{transform:rotate(3deg);}
  100%{transform:rotate(-3deg);}
}

.pulse{
  animation:pulse 2s infinite;
}

@keyframes pulse{
  0%{transform:scale(1);}
  50%{transform:scale(1.1);}
  100%{transform:scale(1);}
}

/* PRAY */
.pray{
  height:70vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

/* EVENT */
.event{
  height:70vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background1.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

/* SAWER */
.sawer{
  height:70vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}


/* COVER-END */
.cover-end{
  height:70vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url("images/Background1.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  color:black;
}

/* FOOTER */

footer{
  padding:20px;
  background:#222;
  color:white;
  text-align:center;
}

/* FONTS */
@font-face {
  font-family: 'Brittany';
  src: url('fonts/BrittanySignature.ttf') format('truetype');
}

@font-face {
    font-family: 'Anonymous Pro';
  src: url('fonts/AnonymousPro-Regular.ttf') format('truetype');
}

/* MOBILE */

@media (max-width:768px){

  .hero h1{
    font-size:2rem;
  }

  .couple .container{
    flex-direction:column;
  }

  .person{
    width:100%;
    margin-bottom:20px;
  }

  .heart{
    margin:10px 0;
  }

}